h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 8%;
  letter-spacing: 5px;
  color: whitesmoke;
}

#bossButton, #urlButton{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bossButton input{
  height: 40px;
  width: 120px;
}

input{
  border: 5px solid whitesmoke;
  font-size: 1.5em;
  color: #000000;
}

button {
  width: 30%;
  background-color: lightblue;
  border: 3px solid whitesmoke;
  font-size: 1.3em;
  color: whitesmoke;
  height: 40px;
  transition: .8s;
}

button:hover {
  background-color: 7faeff;
  transition: .8s;
}

span {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  font-family: 'McLaren';
}

#config{
  display: flex;
  justify-content: flex-end;
}

ul.a {
  list-style-type: circle;
}